body {
  background: #232526;
  background: -webkit-linear-gradient(to top, #414345, #232526);
  background: linear-gradient(to top, #414345, #232526);
  color: #fff;
}

/* Text */
h1 {
  margin: 30px 0px;
  text-align: center;
  color: white;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.area-label {
  display: inline;
  margin-right: 10px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 14px;
}

/* Button */
.round-button {
  border: none;
  background-color: #fff;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 20px;
  color: #000;
}

.material-symbols-outlined {
  position: relative;
  display: inline-block;
  top: 2px;
}

.button-text {
  position: relative;
  display: inline-block;
  top: -6px;
}

.pref-filters {
  display: block;
  margin-bottom: 30px;
}

/* CheckBox */
.filter-label {
  display: inline-block;
  padding: 1px 10px;
  margin: 5px 2px;
  font: 12px/24px "M PLUS 1p", sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #4f5254;
  border-radius: 20px;
}
.filter-label.active {
  background-color: #1877f2;
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
}

/* Popup */

.popup.active {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-filter-header {
  display: none;
}
.mobile-filter-header.active {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  font-size: 60px;
}
.mobile-filter-header p {
  flex: 1;
  text-align: center;
  margin-left: 60px;
}

.mobile-filter-header span {
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
}

.pref-filters.active {
  position: relative;
  overflow: auto;
  top: 10%;
  width: 100%;
  margin-top: 0px;
}

#mobile-filter {
  display: none;
}

@media only screen and (max-width: 720px) {
  #mobile-filter {
    display: block;
  }
  .hidden {
    display: none;
  }
  .display {
    display: block;
  }
}

@media (hover: hover) {
  .filter-label:hover {
    background-color: #ffaa02;
    cursor: pointer;
  }
  .round-button:hover {
    background-color: #ffaa02;
    cursor: pointer;
  }
}
